html {
    text-align: center;
    padding: 2rem;
}

img {
    /* center the image */
    display: block;
    margin: auto;
}
/* change background and text color of button when hovering */
.button:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: lightslategray;
    color:blue;
}

h5{
    font-size: 1.5rem;
}